# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**
* popular languages that Data Scientist use
* commonly used libraries used by Data Scientist
* Data Science Tools

Some of the popular languages that Data Scientist use are: 
1. Python 
2. R
3. SQL

Some of the commonly used libraries used by Data Scientist include:
1. NumPy
2. Panda
3. Matplotlib

| Data Science Tools |
| ------ |
| JupyterLab |
| VS Code |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
functionfluxbyanka